@import "../../node_modules/normalize.css/normalize.css";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    padding: 15px;
    font-weight: 700;
    background-image: linear-gradient(#00859B, #82A856);

    @media only screen and (min-width: 769px) {
        position: relative;
        background-image: url('/src/images/hero-bg.webp');
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 100px;

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: '';
            background: rgba(0, 0, 0, 0.3);
        }
    }
}

.container{
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px;
    z-index: 1;
}

.header {
    @media only screen and (min-width: 769px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 315px;
    height: 105px;
    margin: 0 auto;
    background: url('/src/images/cloud.webp') center/contain no-repeat;

    &__image {
        width: 285px;
        height: 90px;
        background: url('/src/images/logo.webp') center/contain no-repeat;
    }

    @media only screen and (min-width: 769px) {
        margin: 0;
    }
}

.navigation {
    margin: 20px auto 40px;
    padding: 35px 40px;
    font-size: 14px;
    text-transform: uppercase;
    background: url('/src/images/cloud.webp') center/100% 100% no-repeat;

    @media only screen and (min-width: 769px) {
        width: 100%;
        max-width: 425px;
        margin: 0;
        padding: 35px 65px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 300px;
        margin: 0 auto;
    }

    &__link {
        color: #715d00;
    }
}

.title {
    margin: 0 auto 20px;
    color: #f9e994;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;

    @media only screen and (min-width: 769px) {
        max-width: 580px;
        font-size: 52px;
        margin-bottom: 10px;
    }
}

.content {
    @media only screen and (min-width: 769px) {
       display: flex;
       justify-content: space-between;
       align-items: flex-end;
    }
}

.description {
    @media only screen and (min-width: 769px) {
       max-width: 430px;
       font-size: 26px;
    }

    &__text {
        color: #f6f7e4;
        margin-bottom: 30px;
    }
}

.advantages {
    margin-bottom: 30px;
    padding: 35px;
    border-radius: 20px;
    background: #7fb3e1;
    color: #dfe4de;

    @media only screen and (min-width: 769px) {
        max-width: 325px;
        margin: 0;
        font-size: 22px;
    }

    &__item {
        position: relative;
        display: flex;
        padding-left: 35px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 18px;
            height: 24px;
            content: "";
            background: url('/src/images/footprint.webp') center/contain no-repeat;
        }
    }
}

.cats-image {
    width: 100%;
    max-width: 320px;
    height: 190px;
    margin: 0 auto 30px;
    background: url('/src/images/cats.webp') center/contain no-repeat;

    @media only screen and (min-width: 769px) {
        max-width: auto;
        margin: 0;
        flex-basis: 50%;
        transform: translate(-55px, -100px) scale(2.1);
    }
}

.order {
    overflow: hidden;
    width: 270px;
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: #fdfcfc;
    text-align: center;
    border-radius: 20px 20px 10px 10px;

    @media only screen and (min-width: 769px) {
        flex-shrink: 0;
        margin: 0;
    }

    &__header {
        position: relative;
        margin-bottom: 40px;
        padding: 25px 10px;
        background: #7eb2e1;

        &-title {
            color: #483c08;
            font-size: 33px;
            line-height: 1.2;
            text-transform: uppercase;
            margin: 0 0 8px;
        }

        &-timer {
            margin-bottom: 5px;
            font-size: 36px;
            color: #f6e791;
        }

        &-chevron {
            position: absolute;
            left: 0;
            bottom: -10px;
            text-align: center;
            height: 20px;
            width: 100%;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                width: 50%;
                height: 100%;
                background: #7eb2e1;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            }

            &::before {
                left: 0;
                transform: skew(0deg, 6deg);
            }

            &::after {
                right: 0;
                transform: skew(0deg, -6deg);
                box-shadow: -5px -1px 0 #7eb2e1, 0 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

.order-price {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__old {
        position: relative;
        font-size: 30px;
        color: #6b6b6b;

        &::after {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            content: "";
            width: 100%;
            height: 2px;
            background-color: #f6be91;
            transform: rotate(162deg);
        }
    }

    &__new {
        font-size: 36px;
        color: #483c08;
    }
}

.order-form {
    width: 220px;
    margin: 0 auto;
    padding-bottom: 30px;

    &__label {
        position: relative;
        display: inline-flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;

        &::before {
            position: absolute;
            top: 50%;
            left: 15px;
            width: 24px;
            height: 24px;
            content: "";
            transform: translateY(-50%);
            background: url('/src/images/footprint-shadow.webp') center/contain no-repeat;
        }
    }

    &__input {
        width: 100%;
        height: 50px;
        padding: 0 0 0 45px;
        border-radius: 30px;
        background-color:#f3efef;
        border: 0;   
        font-size: 16px;
    }

    &__button {
        width: 100%;
        height: 50px;
        font-size: 30px;
        border-radius: 30px;
        background-color: #a1d337;
        border: 0;
        text-transform: uppercase;
        color: #fff;
    }

    &__date {
        font-size: 18px;
        color: #444;
    }
}

.product {
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px;
    background: url("/src/images/fotprintBG\ 5.webp");
    text-align: center;

    &__title {
        font-weight: 700;
        font-size: 52px;
        background: linear-gradient(180deg, #F9E994 0%, #537D13 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__cards {
        @media only screen and (min-width: 769px) {
            display: flex;
            justify-content: space-between;
        }

        &-calm {
            width: 100%;
            padding: 25px 15px 15px;
            background-color: #f6e791;
            border-radius: 20px;
            margin-bottom: 20px;
    
            @media only screen and (min-width: 769px) {
                max-width: 305px;
                
                &:not(:first-child) {
                    margin-left: 10px;
                }
            }
        }

        &-card {
            background-color: rgba(161, 211, 55, 0.4);
            border-radius: 20px;
            padding: 15px;
    
            @media only screen and (min-width: 769px) {
                max-width: 275px;
                min-height: 210px;
            }

            &__title {
                margin: 0 0 20px;
                font-weight: 700;
                font-size: 22px;
                color: #fff;
                line-height: 1.2;
            }

            &__about {
                margin: 0;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.2;
                color: #483C08;
            }
        }

        &-logo {
            width: 100%;
            height: 212px;
            margin-bottom: 15px;
            background: {
                repeat: no-repeat;
                position: center;
                size: contain;
            }

            &--cat {
                background-image: url("/src/images/cat-sleeping.webp");
            }

            &--lotos {
                background-image: url("/src/images/lotos.webp");
            }

            &--fish {
                background-image: url("/src/images/fish.webp");
            }
        }
    }
}

.calming-chews {
    background-image: linear-gradient(180deg, #e1edf8 0%, rgba(127, 179, 225, 0) 59.37%, rgba(0, 0, 0, 0.25) 100%);

    &__title {
        font-weight: 700;
        font-size: 52px;
        color: #537d13;
        text-align: center;
    }

    &__content {
        @media only screen and (min-width: 769px) {
            display: flex;
        }
    }

    .instruction {
        position: relative;
        border: solid 20px #d4df6d;
        border-radius: 10px;
        padding: 20px;

        @media only screen and (min-width: 769px) {
            padding: 40px 100px 40px 40px;
            background: url(/src/images/rectangle.webp) center/100% 100%;
            border: 0;
        }

        &__text {
            color: #483c08;
            font-weight: 400;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            height: 20px;
            background-color: #d4df6d;
        }

        &::before {
            right: 0;
            top: 0;
            bottom: 50%;
        }

        &::after {
            right: 0;
            top: 50%;
            bottom: 0;
        }
    }

    &__image {
        background: url("/src/images/cat-doctor.webp") center/contain no-repeat;
        width: 100%;
        height: 300px;
    }

    &__footer {
        width: 100%;
        height: 174px;
        background: url("/src/images/footer-grass.webp") center;
    }
}
